/*uiGradient website*/

body{
	font-family: "Roboto";
	background: #83a4d4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1{
	background: #2980b9;
	color:white;
	margin:0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	opacity: .8;

}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:hover span{
	width: 100px;
	opacity: 1;
}

li:nth-child(2n){
	background: #f7f7f7;
}

.fa-plus{
	float:right;
}




span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 1.2s linear;
	opacity: 0;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	border:none;
	box-sizing: border-box; 
	color: #2980b9;
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container{
	box-shadow: 0 0 3px rgba(0,0,0 0.1);
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
}

.completed{
	color:gray;
	text-decoration: line-through;
}